html, body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: rgb(160, 224, 233);
}

.selfie {
    width: 5em;
    height: 5em;
    border-radius: 50%
}

.name {
    margin: 0.25em;
}

.about-summary {
    margin: 0.25em;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.image-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: auto;
}

.post {
    flex: 1;
    flex-basis: 33%;
}

.image-post {
    position: relative;
    width: 15em;
}

.image-post:hover .caption {
    display: flex;
}

.image {
    display: block;
    height: 15em;
    width: 100%;

}

.caption {
    display: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    height: 100%;
    background: rgba(0,0,0, 0.25);
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.open {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-image {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 30em;
    margin: auto;
}

.close-button {
    position: absolute;
}



